body {
    background-color: peachpuff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em blue;
    z-index: 1;
  }
  
header h1 {
    font-size: 300%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
    font-size: 150%;
}

nav li {
    margin: 0 0.5em;
    color: black;
  }

main { 
    display: block;
}

.about {
    margin-top: 9%;
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
}

.about img {
    width: 20%;
    height: 5%;
    margin-left: 5%;
}

.about h2 {
    margin-left: 5%;
    font-size: 500%;
}

.about p {
    margin-left: 15%;
    margin-top: 5%;
    font-size: 200%;
}
.projects {
    margin-top: 8%;
    display: flex;
}



@media screen and (max-width: 768px) {

    main {
      max-width: 1200px;
    }
  }

  