body {
    background-color: skyblue;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em blue;
    background-image: url("../images/Nav2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
header h1 {
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

nav li {
    margin: 0 0.5em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
main { 
    display: block;
}

h2 {
    font-size: 90px;
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    border-bottom-style: double;
    background-color: whitesmoke;
    border-width: 5px;
    transition: .30s;
    padding-top: 100px;
}

.about {
    display: inline-flex;
}

.about img {
    width: 400px;
    margin-left: 100px;
    border-style: ridge;
    border-color: white;
    border-width: 10px;
}


.about p {
    margin-left: 100px;
    margin-top: 100px;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 40px;
}

.project1 {
    width: 500px;
    height: 400px;
    background: url("../images/comingsoon.jpg");
    background-size:contain;
    color: white;
    text-align: center;
    border-style: groove;
    border-color:aqua;
    border-width: 10px;
}

.project2, .project3, .project4 {
    width: 400px;
    height: 300px;
    background: url("../images/comingsoon.jpg");
    background-size: contain;
    color: white;
    text-align: center;
    border-style: groove;
    border-color:aqua;
    border-width: 10px;
}

.project1:hover,.project2:hover, .project3:hover, .project4:hover {
    border-color:deeppink;
    border-style: groove;
    cursor: grab;
}


#contact {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
    transition: .30s;
}

#contact a {
    text-decoration: underline;
    color: blue
}

#about, #projects {
    padding-top: 150px;
}


@media screen and (max-width: 768px) {
    body {
      flex-direction: row;
    }
  }

  